.PostListItem {
  	padding: 20px;
  	margin: 1em;
  	border: 1px solid grey;
  	border-radius: 10px;
}

.MoreButton{
	text-align: center;
	padding: 20px;
	border: 1px solid grey;
	display: table;
	margin: auto;
	border-radius: 10px;
	background: white;
	box-shadow: 0 2px 8px #5b5b5b;
	cursor: pointer;
	border: 20px;
}

.search{
	padding: 10px 20px;
  	margin: 1em auto;
  	border: 1px solid grey;
  	border-radius: 10px;
  	width: calc(50%);
  	outline: none;
  	display: table;
}

.loading{
	text-align: center;
	margin-top: 0;
	vertical-align: middle;
	color: white;
	position: fixed;
	display: block;
	width: 100%;
	line-height: 100vh;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4)
}